Host srv.ajil.ch
    HostName srv.ajil.ch
    Port 22221
    ForwardX11 yes
    Compression yes
#   Ciphers +blowfish-cbc,arcfour
    User muy

# QuantCo Github
Host github.com-mohammedajilqc
    Hostname github.com
    User git
    IdentityFile ~/.ssh/id_rsa_qc

# Private Github
Host github.com-muyajil
    Hostname github.com
    User git
    IdentityFile ~/.ssh/id_rsa

#Host socks_proxy
#    HostName srv.ajil.ch
#    Port 2221
#    DynamicForward:8080
